html{
	padding-bottom: 80px;
}

body{
	background: steelblue;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

img{
	display: inline-block;
	width: 64px;
	height: 64px;
}

button{
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
}

#dateInput{
	display: inline-block;
}

#stripe{
	background: white;
}

#histrorical{
	float: right;
}

#list{
	max-width: 60%;
	margin: 20px auto;
}

.square{
	width: 130px;
	height: 130px;
	border-radius: 10%;
	margin: 1%;
	background: white;
	float: left;
}

.square:hover{
	width: 130px;
	height: 130px;
	border-radius: 10%;
	margin: 1%;
	background: none;
	color: white;
	float: left;
	transition: all 0.3s;
}

.rateDisplay{
	text-align: center;
}

.currencyDisplay{
	text-align: center;
}

.imgDisplay{
	text-align: center;
}

.remove,
.hide {
	display: none;
	background: steelblue;
}

.show{
	display: block;
}

.selector{
	width: 75%;
	margin: 0;
}

.indent{
	padding-left: 30px;
	padding-right: 30px;
}

.modalKey{
	display: block;
	font-weight: 700;
}

.modalVal{
	display: block;
}

